<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('navbar'); %>

    <div class="main-content" id="main-content">
      <div class="container">
        <h1>Add User Admin</h1>

        <form id="registration-form">
          <div class="form-group" style="margin-bottom: 15px; margin-top: 30px">
            <label for="name">Nama: </label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="form-group" style="margin-bottom: 15px">
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
          </div>

          <form id="role-user">
            <div class="form-group" style="margin-bottom: 15px">
              <label for="exampleFormControlSelect1">strRole</label>
              <select class="form-control" id="strRole" required>
                <option>-- Pilih --</option>
                <option>admin</option>
                <!-- <option>wakil kurikulum</option>
                <option>wali kelas</option>
                <option>guru</option>
                <option>siswa</option>
                <option>petugas uks</option>
                <option>ekstrakulikuler</option> -->
              </select>
            </div>


          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="repassword">Konfirmasi Password:</label>
            <input
              type="password"
              class="form-control"
              id="repassword"
              name="repassword"
              required
            />
          </div>

          <br/>
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- script controll library tinymce -->
    <script src="/js/index.js"></script>
  </body>
</html>
